<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spring Library</title>
    <link rel="stylesheet" type="text/css" href="src\main\resources\templates\registroStyles.css" />
  </head>
  <body>
    <header>
      <h1 class="logo">🍃SpringLibrary📚</h1>
      <nav class="nav-container">
        <ul class="items-container">
          <li><a href="#">Libros</a></li>
          <li><a href="#">Autores</a></li>
          <li><a href="#">Editoriales</a></li>
        </ul>
        <form class="search-form">
          <input
            type="search"
            name="search"
            id="search-input"
            placeholder="Search🔎"
          />
        </form>
        <a class="login-button" href="#">Login</a>
      </nav>
    </header>
    <main>
      <fieldset class="register-field">
        <form class="registro-form" th:action="@{/registro}" method="post">
          <label for="nombre">Nombre:</label>
          <input 
          type="text" 
          name="nombre" 
          id="nombre" 
          th:value="${nombre}" 
          />
          <label for="email">Coreo Electrónico:</label>
          <input 
          type="email" 
          name="email" 
          id="email" 
          th:value="${email}" 
          />
          <label for="contrasenia">Contraseña:</label>
          <input
            type="password"
            name="contrasenia"
            id="contrasenia"
            th:value="${contrasenia}"
          />
          <label for="repe-contrasenia">Repite contraseña:</label>
          <input
            type="password"
            name="repContrasenia"
            id="repe-contrasenia"
            th:value="${repContrasenia}"
          />
          <button class="submit-button" type="submit">Registrar</button>
        </form>
      </fieldset>
    </main>
  </body>
</html>
